.styleBtn {
  width: 40%;
  padding: 0.5em;
  border-radius: 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  background-color: green;
  color: wheat;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.styleBtn:hover {
  transform: scale(1.1);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.tittleMain {
  margin: 0.2em 0.2em 0.2em 0.2em;
  min-width: 250px;
  width: 80%;
  text-align: center;
  background-color: wheat;
  padding: 0.5em;
  border-radius: 0.2em;
  color: brown;
}

.containerTask {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
  padding: 0.5em;
  flex-wrap: wrap;
  gap: 1em;
}

.card {
  width: 95%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  overflow: hidden;
  padding: 0.5em;
  row-gap: 1em;
  border-radius: 0.3em;
  background-color: wheat;
  border: 1px outset black;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
}

.card p {
  width: 100%;
  max-height: 200px;
  text-align: justify;
  padding: 0.5em;
  overflow-y: auto;
  box-sizing: border-box;
  color: brown;
}

.card p::-webkit-scrollbar {
  width: 2px;
  background-color: wheat;
}

.card p::-webkit-scrollbar-thumb {
  background-color: white;
}

.card .config {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

.card .config button:nth-child(2) {
  background-color: rgb(104, 6, 6);
}

.containerForm {
  min-width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 0.5em;
}

.containerForm form {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  border-radius: 0.3em;
  background-color: wheat;
  border: 1px outset black;
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.5);
  padding: 1em;
  row-gap: 1em;
}

.containerForm form .inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.5em;
  box-sizing: border-box;
  row-gap: 0.5em;
  background-color: red;
}

.containerForm form .topSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0em;
  box-sizing: border-box;
}

.containerForm form input,
.containerForm form select,
.containerForm form textarea {
  min-width: 100%;
  min-height: 2.5em;
  width: 100%;
  user-select: none;
  padding-left: 0.3em;
  cursor: pointer;
  resize: none;
}

.containerForm form textarea {
  min-height: 5em;
}

.containerForm form button {
  width: 40%;
  padding: 0.5em;
  border-radius: 0.3em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 0.8em;
  background-color: green;
  color: wheat;
  border: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}
