* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    35deg,
    rgba(3, 56, 71, 0.6),
    rgba(3, 75, 30, 0.6),
    rgba(49, 2, 96, 0.6)
  );
  background-attachment: fixed;
  background-position: 0% 0%;
  background-size: 100%;
  background-repeat: no-repeat;
}

body #root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
